/**
  * Chrome specific style for call menu
  */

/**
  * Our extension id is fixed and known because we use the same chrome_ext.pem file
  * during the build when making the crx file.
  */
.skype_c2c_menu_click2call_ui1 {
    background-image: url('chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/call_icon_ui1.png') !important;
}

.skype_c2c_menu_add2skype_ui1 {
    background-image: url('chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/plus_icon_ui1.png') !important;
}

.skype_c2c_free_active .skype_c2c_menu_toll_info_ui1 {
    background-image: url('chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/gift_icon_ui1.png') !important;
}

.skype_c2c_menu_toll_info_ui1 {
    background-image: url('chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/skypecredit_icon_ui1.png') !important;
}

.skype_c2c_menu_help_page_ui1  {
    background-image: url('chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/learnmore_icon_ui1.png') !important;
}
